<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%= data.title %>
    <form action="/edit?_method=PUT" method="post">
        <h3>글수정</h3>
        <input type="hidden" name="_id" value="<%= data._id %>">
        <input type="text" name="title" value="<%= data.title %>">
        <input type="text" name="content" value="<%= data.content %>">
        <button type="submit">완료</button>
    </form>
</body>
</html>